

/* ffffff = White,
000000 = Black
7a7a7a dark gray
cccccc light grap
#3C8DBC - blue in Welcome box header
darker blue 367FA9*/



  /* main sidebar */
.skin-blue .main-sidebar {
background-color: #7A7A7A;
color: #FF3030;

}
/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #CCCCCC;
color: #000000;
}

/* other links in the sidebarmenu*/
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: #7a7a7a;
color: #FFFFFF;
} 

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
background-color: #367FA9;
}
/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #CCCCCC;
}

